.accounnt_header {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: $dark;
  color: $white;
  margin-bottom: 40px;
  .breadcrumb {
    .breadcrumb-item {
      a {
        color: inherit;
        opacity: 0.7;
      }
      color: inherit;
    }
    color: inherit;
  }
}
.accounnt_body,
.dashboard_header {
  padding-bottom: 40px;
  .sidenav {
    background-color: $white;
    box-shadow: 0 0.3rem 1.525rem -0.375rem rgba(0, 0, 0, 0.1) !important;
    border-radius: 15px;
    margin: 0;
    padding: 0;
    border-right: unset;
    &.navbar {
      .navbar-nav {
        padding: 0;
        width: 100%;
        margin-bottom: 0px;
        .nav-item {
          border-bottom: 1px solid $border-color;
          margin-bottom: 0;
          &:last-child {
            border-bottom: unset;
          }
          &.active {
            > .nav-link {
              opacity: 1;
              color: $primary;
            }
          }
          .nav-link {
            padding: 15px 25px;
            font-weight: 600;
            background-color: transparent;
            border-radius: 0px;
            color: $dark;
            position: relative;
            transition: all 0.3s;
            opacity: 0.8;
            font-size: 14px;
            &:after {
              content: "\e649";
              float: right;
              margin-right: 5px;
              font-family: "themify";
              border: 0;
              font-size: 10px;
              margin-top: 5px;
            }
            &:hover {
              opacity: 1;
              color: $dark;
            }
            .nav-icon {
              opacity: 0.6;
              margin-right: 0.5rem;
            }
            i {
              font-size: 1.125rem;
              width: 1.75rem;
              opacity: 0.8;
              color: inherit;
              margin-top: -2px;
            }
          }
        }
      }
    }
  }
}
.avater {
  height: 55px;
  width: 55px;
  line-height: 55px;
  font-weight: bold;
  font-size: 20px;
  border-radius: 10px;
  text-align: center;
  margin-right: 20px;
  overflow: hidden;
  img {
    width: 100%;
    height: auto;
  }
}
@media (max-width: 992px) {
  .accounnt_header {
    .breadcrumb {
      justify-content: center;
      margin-bottom: 10px !important;
    }
  }
  .accounnt_body .sidenav {
    border-radius: 0px;
    box-shadow: unset !important;
    color: $dark;
  }
}
@media (min-width: 992px) {
  .accounnt_header {
    padding-top: 40px;
    padding-bottom: 120px;
    margin-bottom: 0;
  }
  .accounnt_body {
    margin-top: -80px;
  }
}
.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid $border-color;
  border-radius: 0.5rem;
}
.card {
  border: 0;
  box-shadow: 0 1px 3px rgba(3, 0, 71, 0.09);
}
.card-header {
  padding: 1rem 1.5rem;
  margin-bottom: 0;
  background-color: #fff;
  border-bottom: 1px solid #ecebf1;
}
.card-header:first-child {
  border-radius: calc(0.5rem - 1px) calc(0.5rem - 1px) 0 0;
}

.dashboard_content {
  padding: 0 1.5rem 2rem 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  .cta_con {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
    .card {
      height: 84px;
      display: flex;
      flex-direction: row;
      transition: all 0.3s;
      &:hover {
        cursor: pointer;
        opacity: 0.8;
      }
      .cta_header {
        padding: 1rem;
      }
      .cta_body {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1rem;
        background-color: #1971c2;
        color: white;
        font-size: 1.5rem;
      }
    }
  }
  .grid {
    display: grid;
  }
  .grid.grid_1 {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 1rem;
  }
  .grid.grid_2 {
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1rem;
  }
  .card {
    border: 0;
    box-shadow: 0 1px 3px rgba(3, 0, 71, 0.1);
    background-color: #edf4ff;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .border_box {
      width: 100%;
      margin-bottom: 0;
      border-right: 6px solid #ecebf1;
      display: flex;
      align-items: flex-start;
      gap: 0.5rem;

      padding: 1rem 1rem 0 1rem;
    }
    .card_header_1 {
      margin-bottom: 0;

      display: flex;
      align-items: flex-start;
      gap: 0.5rem;

      &:first-child {
        border-radius: calc(0.5rem - 1px) calc(0.5rem - 1px) 0 0;
      }

      .icon {
        font-size: 1.2rem;
        margin-right: 0.5rem;
      }
      .header_text {
        font-size: 1rem;
        font-weight: 700;
        width: 100%;
      }
    }

    .card_body_1 {
      font-weight: 700;
      font-size: 1.2rem;
      padding: 1.2rem;
    }
  }

  .table_cont {
    background-color: #edf4ff;
    border-radius: 0.5rem;
    overflow: hidden;
    box-shadow: 0 1px 3px rgba(3, 0, 71, 0.1);
    .table_header {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .icon {
        font-size: 1.2rem;
        background-color: #1971c2;
        height: 40px;
        width: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        i {
          color: #edf1fc;
        }
      }
      .table_title {
        padding: 0.5rem 1rem;
        font-size: 0.9rem;
        font-weight: 700;
        background-color: #edf1fc;
        margin: 0;
      }
    }

    table {
      width: 100%;
      border-collapse: collapse;
      border-spacing: 0;
      margin: 0;

      thead {
        background-color: #f8f9fa;
        th {
          font-weight: 700;
          padding: 1rem;
          color: #212529;
          font-size: 0.6rem;
          font-weight: 700;
        }
      }
      tbody {
        tr {
          //color odd
          &:nth-child(2n + 1) {
            td {
              background-color: #f8f9fa;
            }
          }
          td {
            padding: 1rem;
          }
        }
      }
    }
  }

  .grid.grid_3 {
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
  }
  .detail_card {
    .card {
      background-color: #ffffff;
      box-shadow: 0 1px 3px rgba(3, 0, 71, 0.1);
      padding: 1rem;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      h5 {
        font-size: 1.2rem;
        font-weight: 700;
        margin-bottom: 1rem;
      }
      p {
        font-weight: 700;
        font-size: 0.8rem;
      }
      .type {
        font-size: 1.2rem;
        font-weight: 700;
        margin-bottom: 1rem;
        display: flex;
        align-items: center;
        gap: 0.5rem;
        p {
          margin: 0;
        }
      }
      .date {
        margin-right: 1rem;
        display: flex;
        flex-direction: column;
        font-size: large;
        font-weight: 700;
        * {
          margin: 0;
        }
        p {
          margin-bottom: 0.5rem;
        }
        h6 {
          font-size: 1rem;
          color: grey;
          font-weight: 700;
        }
      }
    }
    .card_2 {
      background-color: #ecebf156;
      border: 1px solid #ecebf1;
    }
  }
}

@media (max-width: 1200px) {
  .dashboard_content {
    .grid.grid_1 {
      grid-template-columns: 1fr 1fr 1fr;
    }
    .grid.grid_2 {
      grid-template-columns: 1fr;
    }
  }
}

@media (max-width: 992px) {
  .dashboard_content {
    .grid.grid_1 {
      grid-template-columns: 1fr 1fr;
    }
    .grid.grid_2 {
      grid-template-columns: 1fr;
    }
    .grid.grid_3 {
      grid-template-columns: 1fr;
    }
  }
}

@media (max-width: 768px) {
  .dashboard_content {
    .detail_card {
      .card {
        h5 {
          font-size: 1rem;
        }
        .date {
          h6 {
            font-size: 0.9rem;
          }
        }
        .type {
          margin-bottom: 0.5rem;
        }
        .date {
          margin-right: 0;
          margin-top: 1rem;
        }
      }
    }
    .grid.grid_1 {
      grid-template-columns: 1fr;
    }
    .grid.grid_2 {
      grid-template-columns: 1fr;
    }
    .grid.grid_3 {
      grid-template-columns: 1fr;
    }
  }
}
.open_invoices_table {
  td {
    text-align: center;
    vertical-align: middle;
  }
}
