.fidelity_con {
  p {
    padding: 0;
    margin: 0;
  }
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  .fidelity_top_con {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }
  .fidelity_bottom_con {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    .table_con {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      padding: 1rem 0;
    }
  }
  .fidelity_middle_con {
    .hot_offers {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 2rem;
    }
  }
  .card_title {
    font-size: 1.5rem;
    font-weight: bold;
  }
  .card_body {
    width: 100%;
  }
  .no_card {
    box-shadow: none;
  }
  .points {
    font-size: 1.5rem;
    font-weight: bold;
    color: #2b2a88;
    text-align: center;
    align-self: center;
  }
  .progress_bar {
    width: 100%;
  }

  ul {
    li {
      font-weight: bold;
      span {
        font-size: large;
      }
    }
  }
}
@media screen and (max-width: 1024px) {
  .fidelity_con {
    .fidelity_middle_con {
      .hot_offers {
        grid-template-columns: 1fr 1fr;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .fidelity_con {
    .fidelity_top_con {
      grid-template-columns: 1fr;
    }
    .fidelity_middle_con {
      .hot_offers {
        grid-template-columns: 1fr;
      }
    }
  }
}
