.product-card-alt .product-thumb {
    position: relative;
    border-radius: .4375rem;
    overflow: hidden;
}

.product-card-alt .product-card-actions {
    top: 50%;
    left: 0;
    width: 100%;
    transform: translateY(-50%);
    text-align: center;
    z-index: 5;
    visibility: hidden;
}

.product-card-alt .product-thumb-overlay {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(43, 52, 69, .5);
    z-index: 1;
}

.product-card-alt .product-thumb-overlay,
.product-card-alt .product-card-actions {
    position: absolute;
    transition: all .15s ease-in-out;
    opacity: 0;
}

.product-card-alt .product-thumb>img {
    display: block;
    width: 100%;
}

.product-card-alt.card {
    border: unset;
    box-shadow: unset;
}

.product-card-alt .card-body {
    padding: 0;
}

.product-title>a {
    transition: color .25s ease-in-out;
    color: #373f50;
    text-decoration: none !important;
    font-size: 16px;
    line-height: 16px;
}

.product-card-alt .product-thumb:hover .product-thumb-overlay,
.product-card-alt .product-thumb:hover .product-card-actions {
    visibility: visible;
    opacity: 1;
}

.btn-icon {
    padding: .625rem .875rem;
    font-size: 1rem !important;
    color: #4b566b !important;
    border-color: transparent;
    line-height: 18px;
}

.btn.btn-icon i {
    padding: 0;
}

.btn-shadow {
    box-shadow: 0 .5rem 1.125rem -0.5rem rgba(0, 0, 0, .15);
}