/* ==============================
   Buttons
   ============================== */

.btn {
  box-sizing: border-box;
  border: 2px solid transparent;
  text-decoration: none;
  box-shadow: none;
  transition: all 0.2s cubic-bezier(0, 0, 0.58, 1);
  height: auto;
  padding: 9px 20px;
  font-size: 14px;
  font-weight: bold;
  text-transform: capitalize;
  letter-spacing: 0px;
  border-radius: 5px;

  &:hover,
  &:focus {
    font-weight: bold;
    text-decoration: none;
    outline: none;
    border-color: transparent;
    box-shadow: none;
  }

  &:active {
    cursor: pointer !important;
    outline: none !important;
  }

  &.btn-full {
    display: block;
    width: 100%;
  }

  i {
    padding-right: 5px;
    font-size: 12px;
  }

  svg {
    height: 18px;
    width: auto;
  }
  &.btn-sm {
    padding: 4px 12px;
  }
  &.btn-gray-border {
    padding: 12px 45px;
    color: #5c727d;
    border: 2px solid #eaedf2;
    background: transparent;
  }
}

.fab_btn {
  background: $primary;
  border: none;
  outline: none !important;
  color: #fff;
  padding: 10px 20px;
  width: 52px;
  height: 52px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 16px;
  font-weight: 600;
  text-transform: capitalize;
  letter-spacing: 0px;
  box-shadow: none;
  transition: all 0.2s cubic-bezier(0, 0, 0.58, 1);
  position: fixed;
  right: 30px;
  bottom: 20px;
  z-index: 999;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  &:hover {
    background: #f8f9fa;

    color: #495057;
  }
  &:active {
    cursor: pointer !important;
    outline: none !important;
  }
  &.open {
    background: #c92a2a;
    color: #fff;
  }
}
.fab_menu {
  position: fixed;
  right: 10px;
  bottom: 70px;
  z-index: 999;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  gap: 10px;
  display: none;
  // background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  width: 300px;
  padding: 1rem 1.2rem;
  .fab_btn {
    display: none;
  }
  .fab_menu_item {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: flex-end;
    padding-left: 20px;
    // border: 1px solid #c6c6c6;
    border-radius: 30px 30px 30px 30px;
    background-color: rgba(255, 255, 255, 1);
    transition: all 0.2s cubic-bezier(0, 0, 0.58, 1);
    transform: translateX(100%);
    cursor: pointer;
    width: 51px;
    overflow: hidden;
    text-decoration: none;
    .fab_menu_title {
      font-size: 18px;
      font-weight: 700;
      color: $primary;
      margin: auto auto auto 0;
    }
    .fab_menu_item_icon {
      background: $primary;
      color: #fff;
      padding: 10px 20px;
      width: 52px;
      height: 52px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      font-size: 20px;
      font-weight: 600;
      text-transform: capitalize;
      letter-spacing: 0px;
      box-shadow: none;
      transition: all 0.2s cubic-bezier(0, 0, 0.58, 1);
      cursor: pointer;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
      &:hover {
        background: #f8f9fa;
        color: #495057;
      }
      &:active {
        cursor: pointer !important;
        outline: none !important;
      }
    }
    &:hover {
      width: 100%;
      background: $primary;
      .fab_menu_title {
        color: #fff;
      }
      .fab_menu_item_icon {
        background: #f8f9fa;
        color: $primary;
      }
    }
    &.orange_btn {
      background: #f8f9fa;
      .fab_menu_title {
        color: #fd7e14;
      }
      .fab_menu_item_icon {
        background: #fd7e14;
        color: #fff;
      }
      &:hover {
        background: #fd7e14;
        .fab_menu_title {
          color: #fff;
        }
        .fab_menu_item_icon {
          background: #fff;
          color: #fd7e14;
        }
      }
    }
    &.green_btn {
      background: #f8f9fa;
      .fab_menu_title {
        color: #28a745;
      }
      .fab_menu_item_icon {
        background: #28a745;
        color: #fff;
      }
      &:hover {
        background: #28a745;
        .fab_menu_title {
          color: #fff;
        }
        .fab_menu_item_icon {
          background: #fff;
          color: #28a745;
        }
      }
    }
    &.purple_btn {
      background: #f8f9fa;
      .fab_menu_title {
        color: #6f42c1;
      }
      .fab_menu_item_icon {
        background: #6f42c1;
        color: #fff;
      }
      &:hover {
        background: #6f42c1;
        .fab_menu_title {
          color: #fff;
        }
        .fab_menu_item_icon {
          background: #fff;
          color: #6f42c1;
        }
      }
    }
  }
  &.active {
    display: flex;
  }
}

@keyframes slide-from-right {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
// .slide-from-right {
//   animation: slide-from-right 0.5s ease-in;
// }
.slide-from-right:nth-child(2) {
  animation-delay: 0.1s;
}
.slide-from-right:nth-child(3) {
  animation-delay: 0.2s;
}
.slide-from-right:nth-child(4) {
  animation-delay: 0.3s;
}
.slide-from-right:nth-child(5) {
  animation-delay: 0.4s;
}
.slide-from-right:nth-child(6) {
  animation-delay: 0.5s;
}
.slide-from-right:nth-child(7) {
  animation-delay: 0.6s;
}
.slide-from-right:nth-child(8) {
  animation-delay: 0.7s;
}
.slide-from-right:nth-child(9) {
  animation-delay: 0.8s;
}
.slide-from-right:nth-child(10) {
  animation-delay: 0.9s;
}
.slide-from-right {
  -webkit-animation: slide-in-right 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: slide-in-right 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
@-webkit-keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

@each $color, $value in $theme-colors {
  .btn-outline-#{$color} {
    border-color: rgba($value, 0.25);
    color: $value;
    &:hover {
      background-color: rgba($value, 0.2);
      border-color: rgba(0, 0, 0, 0);
      color: $value;
    }
  }
}

@each $color, $value in $theme-colors {
  .btn-soft-#{$color} {
    color: $value;
    background-color: rgba($value, 0.1);
    border-color: transparent;

    &:hover {
      background-color: $value;
      border-color: rgba(0, 0, 0, 0);
      color: #ffffff;
    }
  }
}
.product-heading {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 10px;
  text-transform: uppercase;
  color: #333;
}
.product-heading-btn {
  font-size: 10px;
  text-transform: uppercase;
  font-weight: 600;
}
@media (max-width: 730px) {
  .btn {
    padding: 8px 15px;
    font-size: 12px;
  }
}
